@import "animations.css";
@font-face {
    font-family: 'vazirweb';
    src: url("../fonts/Vazir.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Vazir.woff2") format('woff2'),
         url("../fonts/Vazir.woff") format('woff'),
         url("../fonts/Vazir.ttf") format('truetype');
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    direction: rtl;
}

* {
    font-family: vazirweb, sans-serif;
}

img {
    max-width: 100%;
}

nav {
    position: absolute;
    width: 100%;
    z-index: 99;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    text-align: center;
}

nav.nofix {
    position: static;
    background: #efefef;
}

nav a {
    display: inline-block;
    padding: 1em;
    color: #fff;
    margin-right: -5px;
    text-shadow: 0 0 1em #fff;
    transition: .2s ease-in-out;
}

nav.nofix a {
    color: #000;
}

nav.nofix a:hover {
    color: #333;
    text-shadow: 0 0 1em #000;
}

nav i {
    margin-left: .3em;
}

nav a:nth-child(1) {
    animation: swipeInRight2 1s;
}

nav a:nth-child(2) {
    animation: swipeInRight1 1s;
}

nav a:nth-child(3) {
    animation: swipeInLeft1 1s;
}

nav a:nth-child(4) {
    animation: swipeInLeft2 1s;
}

nav a:hover {
    color: #eee;
    text-decoration: none;
    text-shadow: 0em .3em .3em #fff;
}

.topintro {
    background: url('../images/wallpaper.jpg');
    background-attachment: fixed;
    height: 100%;
    position: relative;
    animation: fadeIn 1s;
    box-shadow: 0 -3em 5em -1em inset;
}

.topintro .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3em #fff;
}

.topintro h1 {
    opacity: 0;
    animation: zoomIn 1s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

.topintro h2 {
    opacity: 0;
    margin-top: 1em;
    animation: zoomIn 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

.top {
    background: url('../images/wallpaper.jpg');
    background-attachment: fixed;
    animation: fadeIn 1s;
    box-shadow: 0 -3em 5em -1em inset;
    padding: 5em;
}

.top h1 {
    opacity: 0;
    animation: zoomIn 1s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

.ourteam {
    padding-bottom: 3em;
}

.ourteam h4 {
    text-align: center;
    margin: 2em 0;
}

.ourteam .profile {
    text-align: center;
    padding: 1em;
}

.ourteam .profile img {
    border-radius: 100%;
    box-shadow: 0 0 3em #aaa;
    transition: .1s ease-in-out;
}

.ourteam .profile:hover img {
    box-shadow: 0 0 5em #888;
}

.ourteam .profile span {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    text-shadow: 0 0 1em #aaa;
}

.ourteam .zoomIn {
    opacity: 0;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

.ourteam .zoomInRight, .ourteam .zoomInLeft {
    opacity: 0;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

.features {
    padding: 5em;
    background: url("../images/wallpaper2.jpg") no-repeat fixed;
    background-size: cover !important;
    overflow-x: hidden;
    box-shadow: 0 1em 9em #555 inset, 0 -1em 9em #555 inset;
}

.features .item {
    text-align: center;
}

.features i {
    font-size: 8em;
    text-shadow: 0 0 5em #fff;
}

.features h5 {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    text-shadow: 0 0 1em #fff;
}

.clients {
    padding: 2em;
}

.clients h4 {
    text-align: center;
    margin-bottom: 2em;
}

.clients .item {
    opacity: 0;
    margin-bottom: 2em;
    animation-fill-mode: forwards;
}

footer {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    background: #efefef;
    text-align: center;
    padding: 2em;
}

.clients .item:nth-child(1) {
    animation-delay: .2s;
}

.clients .item:nth-child(2) {
    animation-delay: .3s;
}

.clients .item:nth-child(3) {
    animation-delay: .4s;
}

.clients .item:nth-child(4) {
    animation-delay: .5s;
}

.clients .item:nth-child(5) {
    animation-delay: .6s;
}

.clients .item:nth-child(6) {
    animation-delay: .7s;
}


/** ABOUT PAGE **/

.about {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s;
}

.about video {
    position: fixed;
    height: 120%;
}

.about .content, .about .info {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: .8;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.about .info {
    right: 0;
}

.about h5 {
    margin-top: 5em;
    color: #fff;
    text-shadow: 0 0 2em #fff;
    animation: zoomInRight 1s;
}

.about p {
    opacity: 0;
    color: #fff;
    text-align: right;
    text-shadow: 0 0 1em #fff;
    animation: zoomInRight 1s;
    animation-fill-mode: forwards;
}

.about p:nth-child(1) {
    animation-delay: .3s;
}

.about p:nth-child(2) {
    animation-delay: .4s;
}

.about p:nth-child(3) {
    animation-delay: .5s;
}

.about p:nth-child(4) {
    animation-delay: .6s;
}

.about p:nth-child(5) {
    animation-delay: .7s;
}

.about .content svg {
    width: 100%;
    height: 100%;
}

footer.fixed-bottom {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    color: #fff;
    z-index: 99;
}

body.noscroll {
    overflow: hidden;
}

/* CSS goes here. */
.subunit {
    opacity: 0;
    transform-origin: center center;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
    fill: none;
    stroke: #FFF;
    stroke-width: 1px;
}

text.subunit-label {
    font-family: "Comic Sans MS", "Arial", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-anchor: middle;
    fill: #fff;
}

.subunit-label {
    display: none;
}

.contact {

}

.contact h1 {
    text-align: center;
    color: #fff;
}

.contact input, .contact textarea {
    background: transparent;
    padding: 1.5em;
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    color: #fff;
}

#name {
    animation-delay: .2s;
}

#email {
    animation-delay: .3s;
}

#message {
    animation-delay: .4s;
}

.contact input:focus, .contact textarea:focus {
    background: transparent;
    color: #fff;
}

.contact button {
    background: transparent;
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

.products {
    padding: 2em;
}

.products a {
    color: #000;
}

.products a:hover {
    text-decoration: none;
}

.products .item {
    background: #f2f2f2;
    border-radius: .2em;
    padding: 0;
    text-align: center;
    box-shadow: 0 0 3em #eee;
    display: block;
    margin-block: 1em;
}

.products .item:hover {
    box-shadow: 0 0 3em #ccc;
}

.products .item span {
    display: block;
    padding: .5em 1em;
    font-size: .8em;
}

.products img {
    border-radius: .5em;
}

.products .fadeIn {
    opacity: 0;
    animation-fill-mode: forwards;
}

.products .fadeIn:nth-child(1) {
    animation-delay: .2s;
}

.products .fadeIn:nth-child(2) {
    animation-delay: .25s;
}

.products .fadeIn:nth-child(3) {
    animation-delay: .3s;
}

.products .fadeIn:nth-child(4) {
    animation-delay: .35s;
}

.products .fadeIn:nth-child(5) {
    animation-delay: .4s;
}

.products .fadeIn:nth-child(6) {
    animation-delay: .45s;
}

.products .fadeIn:nth-child(7) {
    animation-delay: .5s;
}

.products .fadeIn:nth-child(8) {
    animation-delay: .55s;
}

.products .fadeIn:nth-child(9) {
    animation-delay: .6s;
}

.products .fadeIn:nth-child(10) {
    animation-delay: .65s;
}

.products .fadeIn:nth-child(11) {
    animation-delay: .7s;
}

.products .fadeIn:nth-child(12) {
    animation-delay: .75s;
}

.products .fadeIn:nth-child(13) {
    animation-delay: .8s;
}

.products .fadeIn:nth-child(14) {
    animation-delay: .85s;
}

.products .fadeIn:nth-child(15) {
    animation-delay: .9s;
}

.products .fadeIn:nth-child(16) {
    animation-delay: .95s;
}
.products .fadeIn:nth-child(17) {
    animation-delay: 1s;
}
.products .fadeIn:nth-child(18) {
    animation-delay: 1.05s;
}
.products .fadeIn:nth-child(19) {
    animation-delay: 1.1s;
}
.products .fadeIn:nth-child(20) {
    animation-delay: 1.15s;
}
.products h1{
    font-size: 1.5em;
}
.gray {
    color: #aaa;
}
.line{
    width: 50%;
    height: 1px;
    background: #eee;
    margin: 1em 0;
}
.products .pic{
    animation-delay: .2s;
}
.products .content {
    opacity: 0;
    animation-delay: .4s !important;
    animation-fill-mode: forwards;
}
.products .content a{
    color: #1ca2bd;
}
.products .price{
    margin: 2em 0;
    color: #fb3449;
    font-size: 1.2em;
}
.products .addtocard{
    background: transparent;
    color: #28a745;
}
.products .desc{
    background: #f2f2f2;
    padding: 2em;
    margin-top: 2em;
    animation-delay: .6s !important;
    animation-fill-mode: forwards;
}
.products .desc.options span{
    font-size: 1.2em;
    color: #1ca2bd;
}
.products .options{
    animation-delay: .8s !important;
    animation-fill-mode: forwards;
}



@media screen and (max-width: 1200px) {
    .topintro h1{
        font-size: 1.5em;
    }
    .topintro h2{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 700px) {
    .topintro h1{
        font-size: 1.3em;
    }
    .topintro h2{
        font-size: 1.1em;
    }
}